In [1]:
#import from regular python

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb

import os
import re
import getpass

user = getpass.getuser()

if user == "sidsel":
    cvr_Path = "/home/"+user+"/workspace/python/DABAI/ReadData"

elif user == "svanhmic":
    cvr_Path = "/home/"+user+"/workspace/DABAI/ReadData" # TODB alter path!

In [88]:
#imports from Pyspark

from pyspark.sql import functions as F
from pyspark.sql.types import *
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.ml import Pipeline
from pyspark.ml.clustering import KMeans

sc.addPyFile(cvr_Path+"/ConvertAllToVecToMl.py")
from ConvertAllToVecToMl import ConvertAllToVecToMl

In [89]:
data_Pdf = sb.load_dataset("flights") # naive data set from seaborn
#data_Pdf

In [90]:
#create spark data frame
flightDf = sqlContext.createDataFrame(data_Pdf)

# Convering month to long
import datetime as dt
func = F.udf(lambda x: dt.datetime.strptime(x, '%b').month, LongType())
flightInfoDf = flightDf.select('*').withColumn('month', func(F.substring(str='month',pos=0,len=3)))

+---------+
|    month|
+---------+
|     July|
| November|
| February|
|  January|
|    March|
|  October|
|      May|
|   August|
|    April|
|     June|
| December|
|September|
+---------+

In [97]:
#create the spark ml pipeline

vectorAssembler = VectorAssembler(inputCols=flightDf.columns,outputCol="features")
convertion = ConvertAllToVecToMl(inputCol=vectorAssembler.getOutputCol(), outputCol=vectorAssembler.getOutputCol())
clusters = KMeans(featuresCol=vectorAssembler.getOutputCol(), k=2, maxIter=10, initMode="random")

pipeline = Pipeline(stages=[vectorAssembler, convertion, clusters])

In [116]:
#execute the pipeline

model = pipeline.fit(flightInfoDf)
prediction = model.transform(flightInfoDf)

In [115]:
#return the data to Pandas for visualisation

prediction.toPandas()

     year  month  passengers               features  prediction
0    1949      1         112   [1949.0, 1.0, 112.0]           0
1    1949      2         118   [1949.0, 2.0, 118.0]           0
2    1949      3         132   [1949.0, 3.0, 132.0]           0
3    1949      4         129   [1949.0, 4.0, 129.0]           0
4    1949      5         121   [1949.0, 5.0, 121.0]           0
5    1949      6         135   [1949.0, 6.0, 135.0]           0
6    1949      7         148   [1949.0, 7.0, 148.0]           0
7    1949      8         148   [1949.0, 8.0, 148.0]           0
8    1949      9         136   [1949.0, 9.0, 136.0]           0
9    1949     10         119  [1949.0, 10.0, 119.0]           0
10   1949     11         104  [1949.0, 11.0, 104.0]           0
11   1949     12         118  [1949.0, 12.0, 118.0]           0
12   1950      1         115   [1950.0, 1.0, 115.0]           0
13   1950      2         126   [1950.0, 2.0, 126.0]           0
14   1950      3         141   [1950.0, 3.0, 141.0]           0
15   1950      4         135   [1950.0, 4.0, 135.0]           0
16   1950      5         125   [1950.0, 5.0, 125.0]           0
17   1950      6         149   [1950.0, 6.0, 149.0]           0
18   1950      7         170   [1950.0, 7.0, 170.0]           0
19   1950      8         170   [1950.0, 8.0, 170.0]           0
20   1950      9         158   [1950.0, 9.0, 158.0]           0
21   1950     10         133  [1950.0, 10.0, 133.0]           0
22   1950     11         114  [1950.0, 11.0, 114.0]           0
23   1950     12         140  [1950.0, 12.0, 140.0]           0
24   1951      1         145   [1951.0, 1.0, 145.0]           0
25   1951      2         150   [1951.0, 2.0, 150.0]           0
26   1951      3         178   [1951.0, 3.0, 178.0]           0
27   1951      4         163   [1951.0, 4.0, 163.0]           0
28   1951      5         172   [1951.0, 5.0, 172.0]           0
29   1951      6         178   [1951.0, 6.0, 178.0]           0
..    ...    ...         ...                    ...         ...
114  1958      7         491   [1958.0, 7.0, 491.0]           1
115  1958      8         505   [1958.0, 8.0, 505.0]           1
116  1958      9         404   [1958.0, 9.0, 404.0]           1
117  1958     10         359  [1958.0, 10.0, 359.0]           1
118  1958     11         310  [1958.0, 11.0, 310.0]           1
119  1958     12         337  [1958.0, 12.0, 337.0]           1
120  1959      1         360   [1959.0, 1.0, 360.0]           1
121  1959      2         342   [1959.0, 2.0, 342.0]           1
122  1959      3         406   [1959.0, 3.0, 406.0]           1
123  1959      4         396   [1959.0, 4.0, 396.0]           1
124  1959      5         420   [1959.0, 5.0, 420.0]           1
125  1959      6         472   [1959.0, 6.0, 472.0]           1
126  1959      7         548   [1959.0, 7.0, 548.0]           1
127  1959      8         559   [1959.0, 8.0, 559.0]           1
128  1959      9         463   [1959.0, 9.0, 463.0]           1
129  1959     10         407  [1959.0, 10.0, 407.0]           1
130  1959     11         362  [1959.0, 11.0, 362.0]           1
131  1959     12         405  [1959.0, 12.0, 405.0]           1
132  1960      1         417   [1960.0, 1.0, 417.0]           1
133  1960      2         391   [1960.0, 2.0, 391.0]           1
134  1960      3         419   [1960.0, 3.0, 419.0]           1
135  1960      4         461   [1960.0, 4.0, 461.0]           1
136  1960      5         472   [1960.0, 5.0, 472.0]           1
137  1960      6         535   [1960.0, 6.0, 535.0]           1
138  1960      7         622   [1960.0, 7.0, 622.0]           1
139  1960      8         606   [1960.0, 8.0, 606.0]           1
140  1960      9         508   [1960.0, 9.0, 508.0]           1
141  1960     10         461  [1960.0, 10.0, 461.0]           1
142  1960     11         390  [1960.0, 11.0, 390.0]           1
143  1960     12         432  [1960.0, 12.0, 432.0]           1

[144 rows x 5 columns]