In [1]:
#import the regnskaber here

from pyspark.sql import SQLContext
from pyspark.sql import functions as F
from pyspark.sql.types import StructType,StructField,StringType,MapType,IntegerType,ArrayType,DateType,DoubleType
import numpy as np
import re
import ast
import sys
import operator
import matplotlib.pyplot as plt
from datetime import datetime

SQLContext.newSession(sqlContext)
cleanCsvsPath = "/home/svanhmic/workspace/Python/Erhvervs/data/regnskabsdata/sparkdata/csv"
cleanParquePath = "/home/svanhmic/workspace/Python/Erhvervs/data/regnskabsdata/sparkdata/parquet"

In [ ]:
df1 = sqlContext.read.parquet(cleanParquePath+"/regnskaber1.parquet")

In [4]:
df1.show(10)

+--------------------+----+----+----+-------+----------+----------------+----------+-----------+--------------------+----------+--------------+
|                Name| Dec|Prec|Lang|unitRef|contextRef|EntityIdentifier|     Start|End_Instant|               Value|Dimensions|originalLength|
+--------------------+----+----+----+-------+----------+----------------+----------+-----------+--------------------+----------+--------------+
|gsd:ReportingPeri...|null|null|null|   null|  16993085|        16993085|2013-10-01| 2014-09-30|          2013-10-01|        []|            10|
|gsd:ReportingPeri...|null|null|null|   null|  16993085|        16993085|2013-10-01| 2014-09-30|          2014-09-30|        []|            10|
|mrv:DescriptionOf...|null|null|  da|   null|  16993085|        16993085|2013-10-01| 2014-09-30|"Siemens er en in...|        []|         27116|
|sob:StatementByEx...|null|null|  da|   null|  16993085|        16993085|2013-10-01| 2014-09-30|"B.1 Ledelsens re...|        []|            39|
|sob:Identificatio...|null|null|  da|   null|  16993085|        16993085|2013-10-01| 2014-09-30|"Bestyrelse og di...|        []|           582|
|sob:ConfirmationT...|null|null|  da|   null|  16993085|        16993085|2013-10-01| 2014-09-30|"Ledelsesberetnin...|        []|           194|
|sob:PlaceOfSignat...|null|null|  da|   null|  16993085|        16993085|2013-10-01| 2014-09-30|            Ballerup|        []|             8|
|sob:DateOfApprova...|null|null|null|   null|  16993085|        16993085|2013-10-01| 2014-09-30|          2014-12-08|        []|            10|
|arr:IndependentAu...|null|null|  da|   null|  16993085|        16993085|2013-10-01| 2014-09-30|"B.2 Den uafh&#23...|        []|            49|
|arr:AddresseeOfAu...|null|null|  da|   null|  16993085|        16993085|2013-10-01| 2014-09-30|"Til aktion&#230;...|        []|            35|
+--------------------+----+----+----+-------+----------+----------------+----------+-----------+--------------------+----------+--------------+
only showing top 10 rows

In [ ]:
df2 = sqlContext.read.parquet(cleanParquePath+"/regnskaber2.parquet")

In [5]:
df2.show(10)

+--------------------+----+----+----+-------+----------+----------------+----------+-----------+--------------------+----------+--------------+
|                Name| Dec|Prec|Lang|unitRef|contextRef|EntityIdentifier|     Start|End_Instant|               Value|Dimensions|originalLength|
+--------------------+----+----+----+-------+----------+----------------+----------+-----------+--------------------+----------+--------------+
|gsd:InformationOn...|null|null|  da|   null|  36453443|        36453443|2014-12-02| 2015-12-31|     &#197;rsrapport|        []|            15|
|gsd:DateOfGeneral...|null|null|null|   null|  36453443|        36453443|2014-12-02| 2015-12-31|          2016-06-07|        []|            10|
|gsd:NameAndSurnam...|null|null|  da|   null|  36453443|        36453443|2014-12-02| 2015-12-31|        Michael Bech|        []|            12|
|gsd:NameOfReporti...|null|null|  da|   null|  36453443|        36453443|2014-12-02| 2015-12-31|M.S. EJENDOMME 20...|        []|            23|
|gsd:AddressOfRepo...|null|null|  da|   null|  36453443|        36453443|2014-12-02| 2015-12-31|Tj&#248;rneg&#229...|        []|            24|
|gsd:AddressOfRepo...|null|null|  da|   null|  36453443|        36453443|2014-12-02| 2015-12-31|                  16|        []|             2|
|gsd:AddressOfRepo...|null|null|  da|   null|  36453443|        36453443|2014-12-02| 2015-12-31|                2820|        []|             4|
|gsd:AddressOfRepo...|null|null|  da|   null|  36453443|        36453443|2014-12-02| 2015-12-31|            Gentofte|        []|             8|
|gsd:TelephoneNumb...|null|null|  da|   null|  36453443|        36453443|2014-12-02| 2015-12-31|            70215353|        []|             8|
|gsd:Identificatio...|null|null|  da|   null|  36453443|        36453443|2014-12-02| 2015-12-31|            36453443|        []|             8|
+--------------------+----+----+----+-------+----------+----------------+----------+-----------+--------------------+----------+--------------+
only showing top 10 rows

In [6]:
df3 = sqlContext.read.parquet(cleanParquePath+"/regnskaber3.parquet")
df3.show(10)

+--------------------+----+----+----+-------+----------+----------------+----------+-----------+--------------------+----------+--------------+
|                Name| Dec|Prec|Lang|unitRef|contextRef|EntityIdentifier|     Start|End_Instant|               Value|Dimensions|originalLength|
+--------------------+----+----+----+-------+----------+----------------+----------+-----------+--------------------+----------+--------------+
|fsa:ClassOfReport...|null|null|null|   null|  20438401|        20438401|2013-01-01| 2013-12-31|Regnskabsklasse C...|        []|            40|
|gsd:ReportingPeri...|null|null|null|   null|  20438401|        20438401|2013-01-01| 2013-12-31|          2013-01-01|        []|            10|
|gsd:ReportingPeri...|null|null|null|   null|  20438401|        20438401|2013-01-01| 2013-12-31|          2013-12-31|        []|            10|
|         fsa:Revenue|  -3|null|null|    DKK|  20438401|        20438401|2013-01-01| 2013-12-31|           7,500,000|        []|             9|
|     fsa:CostOfSales|  -3|null|null|    DKK|  20438401|        20438401|2013-01-01| 2013-12-31|            -652,000|        []|             8|
|fsa:OtherOperatin...|  -3|null|null|    DKK|  20438401|        20438401|2013-01-01| 2013-12-31|              97,000|        []|             6|
|fsa:OtherExternal...|  -3|null|null|    DKK|  20438401|        20438401|2013-01-01| 2013-12-31|             466,000|        []|             7|
| fsa:GrossProfitLoss|  -3|null|null|    DKK|  20438401|        20438401|2013-01-01| 2013-12-31|           7,783,000|        []|             9|
|fsa:EmployeeBenef...|  -3|null|null|    DKK|  20438401|        20438401|2013-01-01| 2013-12-31|            -200,000|        []|             8|
|fsa:DepreciationA...|  -3|null|null|    DKK|  20438401|        20438401|2013-01-01| 2013-12-31|               3,000|        []|             5|
+--------------------+----+----+----+-------+----------+----------------+----------+-----------+--------------------+----------+--------------+
only showing top 10 rows

In [7]:
dfTotal = df1.unionAll(df2)
dfTotal.count()

64350877

In [8]:
allThreeDf = dfTotal.unionAll(df3)
allThreeDf.count()

allThreeDf.write.parquet(cleanParquePath+"/alleregnskaber.parquet","overwrite")

In [9]:
#extract all rows with debt in them
debtCols = allThreeDf.columns+["DebtNames"]

debtDf = (allThreeDf
 .select("*",F.regexp_extract("Name",".*debt|Debt.*",0).alias("DebtNames"))
 .filter((F.col("DebtNames") != ""))
)

In [10]:
debtDf.write.parquet(cleanParquePath+"/regnskaberDebt.parquet","overwrite")

In [11]:
groupedNamesDf = allThreeDf.groupBy("Name").count()

In [12]:
groupedNamesDf.orderBy(F.col("count").desc()).show(50,truncate=False)

+------------------------------------------------+-------+
|Name                                            |count  |
+------------------------------------------------+-------+
|fsa:ProfitLoss                                  |2483478|
|e:Equity                                        |1887451|
|e:ProfitLoss                                    |1435357|
|fsa:Equity                                      |1199071|
|fsa:Assets                                      |751870 |
|fsa:LiabilitiesAndEquity                        |716450 |
|fsa:ContributedCapital                          |688128 |
|fsa:RetainedEarnings                            |679204 |
|fsa:CurrentAssets                               |670844 |
|fsa:LiabilitiesOtherThanProvisions              |669518 |
|fsa:ShorttermLiabilitiesOtherThanProvisions     |651598 |
|fsa:CashAndCashEquivalents                      |610169 |
|fsa:ProfitLossFromOrdinaryOperatingActivities   |605220 |
|fsa:OtherShorttermPayables                      |594051 |
|fsa:ShorttermReceivables                        |592828 |
|fsa:ProfitLossFromOrdinaryActivitiesBeforeTax   |584853 |
|fsa:NoncurrentAssets                            |571860 |
|e:OtherFinanceExpenses                          |481369 |
|fsa:OtherFinanceIncome                          |475733 |
|cmn:NameAndSurnameOfMemberOfExecutiveBoard      |472889 |
|fsa:LongtermInvestmentsAndReceivables           |458075 |
|fsa:PropertyPlantAndEquipment                   |436202 |
|d:Equity                                        |418774 |
|fsa:TaxExpense                                  |409291 |
|fsa:ShorttermTradePayables                      |406535 |
|e:Assets                                        |390372 |
|fsa:OtherShorttermReceivables                   |388885 |
|d:NameOfAuditFirm                               |381427 |
|gsd:ReportingPeriodEndDate                      |378134 |
|gsd:ReportingPeriodStartDate                    |378134 |
|gsd:NameOfReportingEntity                       |378052 |
|gsd:IdentificationNumberCvrOfReportingEntity    |378051 |
|gsd:AddressOfSubmittingEnterprisePostcodeAndTown|378045 |
|gsd:AddressOfSubmittingEnterpriseStreetAndNumber|378045 |
|gsd:InformationOnTypeOfSubmittedReport          |378041 |
|gsd:NameOfSubmittingEnterprise                  |378040 |
|gsd:NameAndSurnameOfChairmanOfGeneralMeeting    |377826 |
|fsa:ClassOfReportingEntity                      |377692 |
|gsd:DateOfGeneralMeeting                        |375630 |
|cmn:TypeOfAuditorAssistance                     |370356 |
|e:LiabilitiesAndEquity                          |359932 |
|e:ContributedCapital                            |358760 |
|e:ShorttermLiabilitiesOtherThanProvisions       |358312 |
|e:RetainedEarnings                              |356665 |
|e:LiabilitiesOtherThanProvisions                |356610 |
|fsa:OtherFinanceExpenses                        |353457 |
|e:CurrentAssets                                 |349099 |
|fsa:GrossProfitLoss                             |348655 |
|e:InvestmentsGross                              |347979 |
|sob:PlaceOfSignatureOfStatement                 |343038 |
+------------------------------------------------+-------+
only showing top 50 rows